@import '../common/_variables';

form {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    color: $blue-dark;
    font-weight: bold;

    margin-right: 5px;
  }

  input {
    outline: none;

    color: $blue-dark;
    font-size:16px;

    border:none;
    border-bottom: 2px solid $blue-medium;

    margin: 0 15px;

    min-width: 50px;

    &.ng-dirty {
      &.ng-invalid {
        color: red;
        border: none;
        border-bottom: 2px solid red;
      }
    }

    &.ng-valid {
      color: $blue-medium;
      outline: none;
      border-bottom: 2px solid $blue-medium;
    }
  }
}
