<div class="bowling-lane">
    <div class="" style="margin-bottom:20px;">
      <app-scoreboard [score]="score" [player]="player"></app-scoreboard>
    </div>

    <div class="message">
      <ng-template [ngIf]="!isEndGame" [ngIfElse]="end">
        <p>Round: {{ currentRound }} | throw: {{ currentThrow }}</p>
      </ng-template>
      <ng-template #end>
        <p>End Game</p>
      </ng-template>
    </div>

    <div>
      <app-frames (numberDroppedPins)="onNumberDroppedPins($event)"></app-frames>
    </div>
</div>
