<table style="display: flex; justify-content: center; align-items: center">
  <tbody>
  <tr>
    <th> </th>
    <td style="text-align: center" *ngFor="let n of numberRounds; let index = index" >
      {{ index + 1 }}
    </td>
  </tr>

  <tr *ngFor="let item of playersScore">
    <td> {{ item.playerName }} </td>
    <td *ngFor="let score of item.score" >
      <table  [border]="1" cellspacing="0" cellpadding="10">
        <tbody>
          <tr>
            <td *ngFor="let num of score"> {{ num }} </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center"> {{ score[0] + score[1] }} </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
