<table class="scoreboard" style="display: flex; justify-content: center; align-items: center">
  <tbody>
  <tr>
    <th> </th>
    <td style="text-align: center" *ngFor="let n of numberRounds; let index = index" >
      {{ index + 1 }}
    </td>
  </tr>

  <tr>
    <td> {{ player.name }} </td>
    <td *ngFor="let round of score">
      <table  [border]="1" cellspacing="0" cellpadding="10">
        <tbody>
          <tr class="throws">
            <td *ngFor="let item of round"> {{ item.score }} </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center"> {{ round[0].score +  round[1].score}} </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
